
h1 {
    font-family: 'Arial', sans-serif; 
}


h1 {
    font-size: 36px;
}
.fundo-colorido {
    background-color: rgb(20, 25, 27); 
}

body {
    font-family: 'Playfair Display', sans-serif;
}
